<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HandyPeer</title>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="/stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>

  <span style="display:none;" id="talker"><%= talker %></span>
  <span style="display:none;" id="listener"><%= listener %></span>

  <div class="chatWrapper">
    <div class="chatHeader">
      <p>小林<span>さん</span></p>
    </div>
    <div class="chatBody">
      <div class="chatBubble mentor">
        <i class="fas fa-user-circle mentorAvatar"></i>
        <p>こんばんは　田中さん会社で何か有りましたか？</p>
      </div>
      <div class="chatBubble user">
        <p>昨日は会社で困ったことが有ったんです</p>
      </div>
      <div class="chatBubble mentor">
        <i class="fas fa-user-circle mentorAvatar"></i>
        <p>困ったんですね、そうですか。それはどんなことですか？</p>
      </div>
      <div class="chatBubble user">
        <p>実は会社で飲み会が有るんです。わたしは飲み会は苦手なんです</p>
      </div>
      <div class="chatBubble mentor">
        <i class="fas fa-user-circle mentorAvatar"></i>
        <p>飲み会が苦手なんですね？それは困りましたね</p>
      </div>
      <div class="chatBubble user">
        <p>昨日は会社で困ったことが有ったんです</p>
      </div>
      <div class="churyaku">
        <hr>
        <p class="textCenter">～　中略　～</p>
        <hr>
      </div>
      <div class="chatBubble user">
        <p>では、自分で考えこまずに周りの人に話してみます。途中で帰れるかどうかも聞いてみます</p>
      </div>
      <div class="chatBubble mentor">
        <i class="fas fa-user-circle mentorAvatar"></i>
        <p>そうそう、それでよいと思います、ぜひ話してみてください。<br>必要なら鈴木さん（人材派遣会社）にも報告しても良いです、会社にフォローしてくれるでしょう</p>
      </div>
      <div class="chatBubble user">
        <p>ありがとうございます、やってみます</p>
      </div>
      <div class="chatBubble mentor">
        <i class="fas fa-user-circle mentorAvatar"></i>
        <p>田中さんは、いまのプロジェクトの管理能力は優れますよ、充分仕事に貢献できていますのでそれを忘れないでください。<br>会社の皆さんも指摘してくれませんが心の中でそう思ってるんです</p>
      </div>
      <div class="chatBubble mentor">
        <i class="fas fa-user-circle mentorAvatar"></i>
        <p>そろそろ時間のようですので、何か有ればまた連絡してみてください</p>
      </div>
      <div class="chatBubble user">
        <p>わたしも勉強になりました、ありがとうございます</p>
      </div>
      <div class="chatBubble bot">
        <i class="fas fa-robot robotAvatar"></i>
        <p>チャットセッションが終了しました。<br>おつかれさまです<i class="far fa-smile"></i></p>
      </div>
      <div class="chatBubble bot">
        <i class="fas fa-robot robotAvatar"></i>
        <p>田中さんから小林さんへ、500HPCコインの支払いが完了しました。</p>
      </div>
    </div>
    <div class="chatFooter">
      <div class="chatTools">
        <i class="fas fa-plus-square"></i>
        <i class="fas fa-camera"></i>
        <i class="fas fa-image"></i>
      </div>
      <div class="chatInput">
        <p class="placeholder">Aa</p>
        <i class="far fa-smile"></i>
      </div>
    </div>
  </div>


  <!-- WHISPER TEXT / HIDDEN FOR BACKUP -->
  <div class="chatWrapper hidden">
    <!--topicsを設定-->
    <div class="form-group">
      <label for="input_topics">[topicsを設定]：</label>
      <br>
      <input type="text" name="input_topics" id="input_topics" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <button id="btn_topics" onclick="input_topics();">設定ボタン</button>
    </div>
    <br>

    <!-- チャットログ出力 -->
    <div class="form-group-box_logs">
      <pre name="set_topics" id="set_topics"></pre>
      <label for="box_logs">チャット履歴：</lavel>
      <pre id="box_logs_shh"></pre>
    </div>

    <!--メッセージ送信情報をセット-->
    <div class="form-group">
      <!--payloadを入力-->
      <label for="input_payload">[チャットメッセージ(payload)]：</label>
      <br>
      <input type="text" name="input_payload" id="input_payload" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <button id="btn_push" onclick="input_push();">送信ボタン</button>
    </div>
  </div>

  <!--参照先scriptを記載-->
  <!-- <script type="text/javascript" src="../node_modules/web3/dist/web3.min.js"></script> -->
  <!-- <script type="text/javascript" src="../lib/connect_web3.js"></script> -->
  <!-- <script type="text/javascript" src="./javascripts/exec_test_shh.js"></script> -->

</body>
</html>
