<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AngelHack</title>
		<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="/stylesheets/stylesheet.css" rel="stylesheet">
	</head>
	<body>

		<div class="profileWrapper">
			<span class="userAvatar"><i class="fas fa-user-circle"></i></span>
			<h5 data-name="userName"><%= username %></h5>
			<p><%= disease %></p>
			<p><%= jobIndustry %></p>
			<p><i class="fas fa-coins"></i>1000</p>
		</div>
		<div class="recommendWrapper">
			<h6>マッチするメンター</h6>
			<div class="recommendContainer">
				<div class="recommendCard">
					<span data-name="userAvatar"><i class="fas fa-user-circle"></i></span>
					<div>
						<p data-name="userName">渡辺一郎</p>
						<p class="subText">疾患名</p>
						<p class="subText">業種</p>
					</div>
					<a class="faOverlap" href="request.html" data-name="cardCheckBtn">
						<i class="fas fa-check"></i>
						<i class="fas fa-comment"></i>
					</a>
				</div>
				<div class="recommendCard">
					<span data-name="userAvatar"><i class="fas fa-user-circle"></i></span>
					<div>
						<p data-name="userName">渡辺二郎</p>
						<p class="subText">疾患名</p>
						<p class="subText">業種</p>
					</div>
					<a class="faOverlap" href="request.html" data-name="cardCheckBtn">
						<i class="fas fa-times"></i>
						<i class="fas fa-comment unavailable"></i>
					</a>
				</div>
				<div class="recommendCard">
					<span data-name="userAvatar"><i class="fas fa-user-circle"></i></span>
					<div>
						<p data-name="userName">渡辺三郎</p>
						<p class="subText">疾患名</p>
						<p class="subText">業種</p>
					</div>
					<a class="faOverlap" href="request.html" data-name="cardCheckBtn">
						<i class="fas fa-check"></i>
						<i class="fas fa-comment"></i>
					</a>
				</div>
			</div>
		</div>

	</body>
</html>
