<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AngelHack</title>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="/stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>

<div class="receivedWrapper">
  <div class="receivedContainer">
    <i class="far fa-envelope"></i>
    <h4>田中さんから<br>メンター依頼が<br>届いております</h4>
  </div>
  <div class="receivedContainer">
    <p>メンター依頼を<br>受理されますか？</p>
    <div class="btnCase">
      <a href="chat.html" class="receiveBtn">
        <p>はい</p>
      </a>
      <a href="#" class="receiveBtn">
        <p>いいえ</p>
      </a>
    </div>
  </div>
</div>

</body>
</html>
