<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AngelHack</title>
<link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="/stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>

<div class="requestWrapper">
  <h4><%= listener %>さんに<br>メンター依頼を<br>届けますか？</h4>
  <div class="requestContainer">
    <div class="requestPeer">
      <div class="peerContainer">
        <span class="userAvatar"><i class="fas fa-user-circle"></i></span>
        <p data-name="userName"><%= talker %><span>さん</span></p>
      </div>
      <div class="sendMail">
        <i class="fas fa-angle-double-right"></i>
        <i class="far fa-envelope"></i>
        <i class="fas fa-angle-double-right"></i>
      </div>
      <div class="peerContainer">
        <span class="userAvatar"><i class="fas fa-user-circle"></i></span>
        <p data-name="userName"><%= listener %><span>さん</span></p>
      </div>
    </div>
    <p class="timeBlock">
      <span>メンタリング</span>&thinsp;30<span>分間&thinsp;は</span>
      <br>
      <i class="fas fa-coins"></i>&thinsp;500&thinsp;<span>かかります</span>
    </p>
  </div>
  <a href="received.html" class="requestBtn">
    <p>依頼を送信する</p>
  </a>
</div>

</body>
</html>
